<table class="table table-hover">
  <thead>
  <tr>
    <th>Payment Id</th>
    <th>Reservation Id</th>
    <th>Room Charge</th>
    <th>Other Charges</th>
    <th>Total Amount</th>
    <th>Payment Method</th>
    <th>Date</th>
    <th>Received By</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tempData of payments; index as num;">
    <td>{{tempData.payId}}</td>
    <td>{{tempData.resId}}</td>
    <td>{{tempData.roomCharge}}</td>
    <td>{{tempData.other}}</td>
    <td>{{tempData.total}}</td>
    <td>{{tempData.method}}</td>
    <td>{{tempData.date}}</td>
    <td>{{tempData.received}}</td>
  </tr>
  </tbody>
</table>



<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
</mat-paginator>
