<div class="mb-3">
  <input #element (keyup.enter)="search(element.value)" type="search" class="form-control" id="search" placeholder="Search here">
</div>

<br>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Guest Id</th>
    <th>Guest Name</th>
    <th>Contact Number</th>
    <th>Email Address</th>
    <th>Country</th>
    <th>Gender</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{dataSet?.id}}</td>
    <td>{{dataSet?.name}}</td>
    <td>{{dataSet?.contact}}</td>
    <td>{{dataSet?.email}}</td>
    <td>{{dataSet?.country}}</td>
    <td>{{dataSet?.gender}}</td>
    <td>{{dataSet?.address}}</td>
  </tr>
  </tbody>
</table>
