<table class="table table-hover">
  <thead>
  <tr>
    <th>Employee Id</th>
    <th>Employee Name</th>
    <th>Designation</th>
    <th>Email Address</th>
    <th>Contact No</th>
    <th>Salary</th>
    <th>Gender</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tempData of employees; index as num;">
    <td>{{tempData.empId}}</td>
    <td>{{tempData.empName}}</td>
    <td>{{tempData.designation}}</td>
    <td>{{tempData.email}}</td>
    <td>{{tempData.contact}}</td>
    <td>{{tempData.salary}}</td>
    <td>{{tempData.gender}}</td>
    <td>{{tempData.address}}</td>
  </tr>
  </tbody>
</table>


<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
</mat-paginator>

