<div class="outer">
  <h1 class="header-text">Guest Management</h1>
  <hr>

  <mat-tab-group>
    <mat-tab label="Register Guest">
      <div class="content-wrap">
        <app-register-guest-page></app-register-guest-page>
      </div>

    </mat-tab>
    <mat-tab label="Update Guest">
      <div class="content-wrap">
        <app-update-guest-page></app-update-guest-page>
      </div>
    </mat-tab>
    <mat-tab label="Delete Guest">
      <div class="content-wrap">
        <app-delete-guest-page></app-delete-guest-page>
      </div>
    </mat-tab>
    <mat-tab label="Search Guest">
      <div class="content-wrap">
        <app-search-guest-page></app-search-guest-page>
      </div>
    </mat-tab>
    <mat-tab label="Show All Guests">
      <div class="content-wrap">
        <app-all-guests-page></app-all-guests-page>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

