<table class="table table-hover">
  <thead>
  <tr>
    <th>Room Id</th>
    <th>Room Type</th>
    <th>Floor No</th>
    <th>Room Status</th>
    <th>Amount Per Day</th>
    <th>Cleaning Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tempData of rooms; index as num;">
    <td>{{tempData.roomId}}</td>
    <td>{{tempData.type}}</td>
    <td>{{tempData.floor}}</td>
    <td>{{tempData.roomStatus}}</td>
    <td>{{tempData.amount}}</td>
    <td>{{tempData.cleaningStatus}}</td>
  </tr>
  </tbody>
</table>

<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
</mat-paginator>
