<div class="outer">
  <h1 class="header-text">Employee Management</h1>
  <hr>

  <mat-tab-group>
    <mat-tab label="Save Employee">
      <div class="content-wrap">
        <app-save-employee-page></app-save-employee-page>
      </div>

    </mat-tab>
    <mat-tab label="Update Employee">
      <div class="content-wrap">
        <app-update-employee-page></app-update-employee-page>
      </div>
    </mat-tab>
    <mat-tab label="Delete Employee">
      <div class="content-wrap">
        <app-delete-employee-page></app-delete-employee-page>
      </div>
    </mat-tab>
    <mat-tab label="Search Employee">
      <div class="content-wrap">
        <app-search-employee-page></app-search-employee-page>
      </div>
    </mat-tab>
    <mat-tab label="Show All Employees">
      <div class="content-wrap">
        <app-show-all-employees-page></app-show-all-employees-page>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>


