<form [formGroup]="roomForm" (ngSubmit)="uploadData()">
  <div class="main-wrap">

    <div class="left-wrap">

      <div class="mb-3 col-6">
        <mat-form-field class="full-width">
          <mat-label>Room No</mat-label>
          <input formControlName="roomId" matInput placeholder="RM-001" type="text">
          <mat-error>Room Id is required</mat-error>
        </mat-form-field>
      </div>

      <div class="mb-3 col-6">
        <mat-form-field class="full-width">
          <mat-label>Room Type</mat-label>
          <mat-select formControlName="type">
            <mat-option value="Single">Single</mat-option>
            <mat-option value="Double">Double</mat-option>
            <mat-option value="Twin">Twin</mat-option>
            <mat-option value="Duplex">Duplex</mat-option>
            <mat-option value="Cabana">Cabana</mat-option>
            <mat-option value="Studio">Studio</mat-option>
            <mat-option value="Triple">Triple</mat-option>
          </mat-select>
          <mat-error>Room Type is required</mat-error>
        </mat-form-field>
      </div>

      <div class="mb-3 col-6">
        <mat-form-field class="full-width">
          <mat-label>Floor No</mat-label>
          <mat-select formControlName="floor">
            <mat-option value="01">01</mat-option>
            <mat-option value="02">02</mat-option>
            <mat-option value="03">03</mat-option>
            <mat-option value="03">04</mat-option>
            <mat-option value="03">05</mat-option>
            <mat-option value="03">06</mat-option>
            <mat-option value="03">07</mat-option>
          </mat-select>
          <mat-error>Floor No is required</mat-error>
        </mat-form-field>
      </div>

      <div class="mb-3 col-6">
        <mat-form-field class="full-width">
          <mat-label>Amount Per Day</mat-label>
          <input formControlName="amount" matInput type="text">
          <mat-error>Amount Per Day is required</mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="right-wrap">

      <div class="mb-3 col-6">
        <mat-form-field class="full-width">
          <mat-label>Room Status</mat-label>
          <mat-select formControlName="roomStatus">
            <mat-option value="CI">CI</mat-option>
            <mat-option value="CO">CO</mat-option>
            <mat-option value="DNCO">DNCO</mat-option>
            <mat-option value="DND">DND</mat-option>
          </mat-select>
          <mat-error>Room Status is required</mat-error>
        </mat-form-field>
      </div>

      <div class="mb-3 col-6">
        <mat-form-field class="full-width">
          <mat-label>Cleaning Status</mat-label>
          <mat-select formControlName="cleaningStatus">
            <mat-option value="Clean">Clean</mat-option>
            <mat-option value="Dirty">Dirty</mat-option>
            <mat-option value="Inspected">Inspected</mat-option>
          </mat-select>
          <mat-error>Cleaning Status is required</mat-error>
        </mat-form-field>
      </div>

      <div class="mb-3">
        <button [disabled]="roomForm.invalid" mat-raised-button color="primary" type="submit">Update Room</button>
      </div>
    </div>

  </div>
</form>

