<div class="outer">
  <h1 class="header-text">Reservations</h1>
  <hr>

  <mat-tab-group>
    <mat-tab label="New Reservation">
      <div class="content-wrap">
        <app-new-reservation-page></app-new-reservation-page>
      </div>

    </mat-tab>
    <mat-tab label="Update Reservation">
      <div class="content-wrap">
        <app-update-reservation-page></app-update-reservation-page>
      </div>
    </mat-tab>
    <mat-tab label="Cancel Reservation">
      <div class="content-wrap">
        <app-cancel-reservation-page></app-cancel-reservation-page>
      </div>
    </mat-tab>
    <mat-tab label="Search Reservation">
      <div class="content-wrap">
        <app-search-reservation-page></app-search-reservation-page>
      </div>
    </mat-tab>
    <mat-tab label="Show All Reservations">
      <div class="content-wrap">
        <app-all-reservations-page></app-all-reservations-page>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>


