<form [formGroup]="signupForm" (ngSubmit)="signup()">

<div class="outer">
  <h2>Sign Up</h2>
  <hr>

  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input formControlName="name" type="text" class="form-control" id="name">
  </div>

  <div class="mb-3">
    <label for="contact" class="form-label">Contact Number</label>
    <input formControlName="contact" type="text" class="form-control" id="contact">
  </div>

  <div class="mb-3">
    <label for="emailAddress" class="form-label">Email Address</label>
    <input formControlName="email" type="email" class="form-control" id="emailAddress" placeholder="ashanisansala@gmail.com">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input formControlName="password" type="password" class="form-control" id="password">
  </div>

  <div class="mb-3">
    <input type="submit" class="btn btn-primary" value="Sign Up" style="width: 100%">
  </div>

</div>

</form>
