<div class="image">

  <div class="dark-shadow"></div>
  <div class="main">
    <div class="inner">
      <div class="left-side wrap">
        <h1>Welcome to Organa Hotel Management System</h1>
        <h4>
          Manage all the Guest Records, Reservations, Room Details, Employee Information and Payments..
        </h4>
        <div class="button-bar">
          <button routerLink="/auth/login" routerLinkActive="active">Login</button>&nbsp;
          <button routerLink="/auth/signup" routerLinkActive="active">Sign Up</button>
        </div>
      </div>
      <div class="right-side wrap">
        <div class="navigate-context">
          <router-outlet>
          </router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>
